<div class="speaker-page">
  {{#cs-field content "photoURL" as |url|}}
    <img src={{url}} />
  {{/cs-field}}
  <div>
    <h1>{{cs-field content "name"}}</h1>

    <div class="bio">
      {{cs-field content "bio"}}
    </div>

    {{!-- triple curlies could be dangerous if we start letting users edit the bio --}}
    <div class="bio">
      {{{content.bioHTML}}}
    </div>

    <ul>
      {{#each content.sessions as |session|}}
      <li>{{session.title}}</li>
      {{/each}}
    </ul>
  </div>

</div>